 
 /* .hero {
    /* height: 50%; */
    background-color: #0077b6;
    /* position: fixed; */
    padding: 2rem 2rem;
    border-bottom: 1px solid;
    width: 100vw;
    /* top:0;
    left:0; */
  }
    
   */