/*  
 /* .hero {
    /* height: 50%; */
    /* background-color: #0077b6; */
    /* position: fixed; */
    /* padding: 2rem 2rem;
    border-bottom: 1px solid;
    width: 100vw;
    /* top:0; */
    /* left:0; */ 
    
   /* image{
    object-fit: cover;
    width: 100%;
    height:100%;
    position: fixed;
   } */

   .hero-container {
    background: url('https://media0.giphy.com/media/Xw4RpYDVHUGxKrDGVj/giphy.webp?cid=ecf05e47nhlpib0cyk2op7b2voiru826pgqjdbr2an4g23fz&ep=v1_gifs_search&rid=giphy.webp&ct=g');
    background-size: cover;
    height:100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    position: relative;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit:contain;
   }

   .hero-btns {
    margin-top:20px;
   }